/*MODAL*/
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; 
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
   background-color: #f8f9f9;
   margin: 5% auto;
   padding: 20px;
   width: 1200px;
   height: 800px;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 5px 8px 0 rgba(0, 7, 20, 0.17);
    animation-name:modalopen;
    animation-duration:1s;
} 
.modal-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
}
.modal-content text {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}
 .closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
 }

 .closeBtn:hover, .closeBtn:focus{
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

 @keyframes modalopen{
   from{ opacity: 0}
   to {opacity:1}
 }
/* SOMETHING ABOUT ME */
p {
    font-size: 50px;
    text-align: center;
    padding: 125px;
    color: rgb(32, 78, 95);
    background-color: #C9ECED; /* #B7D7D8;*/
    height: 250px;
    margin: -10px;
    font-family: "Raleway", sans-serif;
  }

  /*NAVIGATION BAR*/
  ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }

  a {
      text-decoration: none;
  }
  
  .logo {
    margin: 0;
      font-size: 36px;
     font-family: "Petit Formal Script", cursive;
     margin-left: 150px;
  }
  
  .main-nav {
      margin-top: 5px;
      margin-right: 150px;
  }

  .logo a,
  .main-nav a {
      padding: 10px 15px;
      text-align: center;
      display: block;
      color: #34495e;
      }
  
  .main-nav a:hover {
      color: rgb(255, 137, 132);
  }
  .header {
    background-color: white;
    margin: -10px;
    padding: 10px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  
  /* ================================= 
    Media Queries
  ==================================== */
  @media (min-width: 769px) {
      .header,
      .main-nav {
          display: flex;
      }
      .header{
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin: -10 auto;
          max-width: 2550px;
      }
  }
  
  @media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
  
  /*PORTFOLIO*/
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  .flex-container > div{
    background-color: rgb(0, 0, 0);
    width: 450px;
    height: 450px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    width: calc(33.3333%, 33.3333%, 33.3333%);
  }

  .boxes {
    position: relative;
    width: 50%;
  }

 .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;  
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
  }

  .boxes:hover .overlay {
    opacity: .75;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Raleway", sans-serif;
  }

  body {
    background-color: #EFEEEE; /* #ECEDED;*/
  }