/* .row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Create four equal columns that floats next to eachother
.column {
  float: left;
  width: 25%;
} */

/* The Modal (background) */
/* .modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0; 
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
} */

/* Modal Content */
/* .modal-content {
  position: relative;
  background-color: #f8f9f9;
  margin: 5% auto;
  padding: 20px;
  width: 90%;
 max-width: 1200px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 5px 8px 0 rgba(0, 7, 20, 0.17);
   animation-name: modalopen;
   animation-duration:1s;
} 
@keyframes modalopen{
 from{ opacity: 0}
 to {opacity:1}
}  */


hr { 
  display: block;
  width: 1390px;
  /* margin-before: 0.5em;
  margin-after: 0.5em; */
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 2px;
  background-color: rgb(32, 78, 95);
}

/* The Close Button */
.close {
  color: gray;
  float: right;
  position: relative;
  top: 0px; 
  right: 0px;
  font-size: 40px;
  font-family: "raleway", sans-serif;
  /* font-weight: bold; */
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 400px;
  width: auto;
  padding: 16px;
  margin-left: 0px; 
 /* margin-top: -50px; */
  color: gray;
  /* font-weight: bold; */
  font-size: 20px;
  transition: 0.6s ease;
  /* border-radius: 0 3px 3px 0; */
  user-select: none;
  -webkit-user-select: none;
  /* font-family: "raleway", sans-serif;
  font-weight: 100; */
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  font-family: "raleway", sans-serif;
  font-weight: 100;
}
.prev {
  left: 0;
  border-radius: 0px 3px 3px 0px;
  font-family: "raleway", sans-serif;
  font-weight: 100;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc)
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* Caption text */
/* .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
} */

/* img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
} */

/* img.hover-shadow {
  transition: 0.3s;
} */

/* .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  /* padding-top: 100px; */
  left: 0; 
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
   background-color: white;
   margin: 2% auto;
   padding: 20px;

width: 1200px;
height: auto;
   /* width: 90%; */
  /* max-width: 1200px; */
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 5px 8px 0 rgba(0, 7, 20, 0.17);
    animation-name: modalopen;
    animation-duration:1s;
} 
@keyframes modalopen{
  from{ opacity: 0}
  to {opacity:1}
} 
.modal-content img {
  display: block;
  margin: auto;
  height: 100%;
  /* max-width: 700px; */
  /* padding: 20px;  */
  position: relative;
}

.modal-content text {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.modal-content .mySlides {
  padding: 20px;
}

 /* .closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
 
 .close {
   position: absolute;
  color: #ccc;
  top: 10px;
  right: 25px;
  font-size: 30px;
 } */

 /* .closeBtn:hover, .closeBtn:focus{
   color: #000;
   text-decoration: none;
   cursor: pointer;
 } */

 /* .close:hover, .close:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */
/* Hide the slides by default */
/* .mySlides {
  display: 1;
} */

/* Next & previous buttons */
/* .prev, 
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
} */

/* Position the "next button" to the right */
/* .next {
  right: 0;
  border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */


/* Caption text */
/* .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
} */

/* .active,
.demo:hover {
  opacity: 1;
} */

/* img.hover-shadow {
  transition: 0.3s;
} */

/* .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */ 

 

/* SOMETHING ABOUT ME */
.intro {
    display: block;
    text-align: center;
    padding: 125px;
    color: rgb(32, 78, 95);
    background-color: #C9ECED; /* #B7D7D8;*/
    height: 100px;
    margin: -10px;  
  }
 
  h1 {
    font-family: "Petit Formal Script", cursive;
    font-size: 36px;
    color: black;
    margin-top: -20px;
  }

  h2{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: rgb(32, 78, 95);
    line-height: 1.35;
  }

  /*NAVIGATION BAR*/
  ul {
    padding: 5px;
    list-style: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
  }

  a {
      text-decoration: none;
  }
  
  /* .logo {
    margin: 0;
      font-size: 36px;
     font-family: "Petit Formal Script", cursive;
     margin-left: 150px;
  } */

  .fa {
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    vertical-align: text-top;
  }
  
  .main-nav {
      margin-top: 5px;
      margin-left: 120px;
      margin-right: 120px;
      padding: 0;  
      overflow: hidden;
    }

    li {
      float: left;
    }

  /* .logo a, */
  .main-nav a {
      padding: 5px 15px 0px;
      vertical-align: center;
      text-align: bottom;
      display: block;
      color: #34495e;
      
      }
  
  .main-nav a:hover {
      color: rgb(255, 137, 132);
  }
  .header {
    background-color: white;
    margin: -10px;
    padding: 10px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 1px 0px 0 rgba(0, 7, 20, 0.17);

  }
  
  
  /* ================================= 
    Media Queries
  ==================================== */
  @media (min-width: 769px) {
      /* .header,
      .main-nav {
          display: flex;
      } */
      .header{
          flex-direction: row;
          align-items: center;
          width: 100%;
          margin: -10 auto;
          max-width: 2550px;
      }
  }
  
  @media (min-width: 1025px) {
      .header {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
  
  /*PORTFOLIO*/
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 30px; */
  }

  .flex-container > div{
    background-color: rgb(0, 0, 0);
    width: 450px;
    height: 450px;
    margin: 10px;
    line-height: 75px;
    font-size: 30px;
    width: calc(33.3333%, 33.3333%, 33.3333%);
  }

  .column {
    position: relative;
    width: 50%;
  }

 .img {
    display: block;
    width: 450px;
    height: 450px;
    object-fit: cover; 
  }

  .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(0, 0, 0);
  }

  .column:hover .overlay {
    opacity: .75;
  }

h3{
  font-family: "raleway", sans-serif;
  font-weight: "500";
  text-align: center;
  color: rgb(32, 78, 95);
  margin-top: 60px;
}

  .text {
    display: block;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 80%;
    /* left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    text-align: left;
    font-family: "Raleway", sans-serif;
    margin: 20px;
  }
  
  body {
    background-color: #EFEEEE; /* #ECEDED;*/
  }

  .about {
  background-color: white;
  height: 800px;
  margin-top: 200px;
  }

  .resume{
    margin-top: 200px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: white;
    display: block;
    padding: 50px;
  }

  .resume img{
    display: block;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1100px;
  }

  footer{
    padding: 100px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2em;
    background-color: #C9ECED; 
    color: rgb(32, 78, 95);
    margin: -10px;
  }

  html{
    scroll-behavior: smooth;
  }